DATABASE_URL="postgresql://neondb_owner:npg_Y5oLluVq4kms@ep-curly-math-ay8ubfls-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="6dc2dc64a8159e9244d23f15b1a098099c65908dec0d5904e92f62cfd3155511758b44acacc3e18cbc0cc61ce9c5482c227391c6b57f33fe86dd36a8f6e3cc25"
JWT_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:5173"
PORT=4000
NODE_ENV="development"
